.idea/*
*.pyc
.history
__pycache__
.output/*
.vscode
.git
*.zip
data/
dataset/
*.DS_Store
*.jpg
*.png
coffee/*
weather/*
.DS_Store
deep_learning/hw_2/TASTE-SpokenLM/*
deep_learning/hw_2/datasets/*
data_visual/*
*.png
*.json
*.csv
*.pth
*.zipcv/DaiXunlian_assignment1/results/task3_unet_aug.pth
